
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* global text alingment, font and style, except overrited*/

html {
    height: 2060px;
}

body {
    font-family: IBM, Plex, Mono;
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
}

.summary, .preamble, [class="main supporting"] {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    
}


header {
    background: url(./img/huntington.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}


header[role="banner"] h1 {
    display: inline;   
    position: absolute;
    top: 4%;
    left: 34%;
    font-size: 50px;
    font-weight: 580;
    color: white;
    text-align: center;
    text-shadow: 4px 6px 5px black;
    font-family: Roboto;

}


header[role="banner"] h2 {
    padding-left: 70px;
    display: inline;
    position: absolute; 
    top : 17%; 
    left : 600px; 
    color : rgb(255, 255, 255); 
    text-align : center; 
    font-size : 20px; 
    font-weight: 400;
    font-style: italic;
    font-family : Satisfy;
    background: url(./img/zen.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    
}

/* ----------------------------------------------------*/



.participation , .benefits {
    position: relative;
    background: url(./img/bamboo.png) rgb(116, 170, 61);  
    width: 1650px;
    left: -5.5%;

}



#zen-participation p:nth-child(2),#zen-participation p:nth-child(3),#zen-participation p:last-child,#zen-benefits p {
   width: 1500px
}


.participation p ,.benefits p, .participation h3, .benefits h3  {  
    margin-left: 5%
}



.participation, .benefits {

    color: white;
    border: 1px solid transparent;  
}

.participation h3,a ,.benefits, h3{ 
    color: black;
        
}

.participation, .benefits {
    color: white;
   
}

/* ----------------------------------------------------*/

[role="contentinfo"]  {
    display: block;
    position: relative;
    width: 1560px;
    background-color: rgb(116, 170, 61);;
    padding: 3%;
    right:5.6%;
    margin-top: 2.5%;
 }

[role="contentinfo"] a {
    padding-top: 3%;
    font-family: Satisfy;
    font-size: 50px;
    color: white;
    font-size-adjust: unset;
    text-decoration: none;
    font-weight: lighter;
    
}

[role="contentinfo"] {
    color: rgb(184, 184, 184);
    font-weight: bold;
    text-align: center;
}



/* ----------------------------------------------------*/



.wrapper {
    height: 600px;
}


/* ----------------------------------------------------*/



.requirements h3 {
    margin-top: 3%;
}

.requirements {
    padding-bottom: 2%;
}

.select, .archives, .resources  {
    color: transparent
}


/* ----------------------------------------------------*/



footer {
    background-color: rgb(29, 71, 29);
    display: block;
    position: relative;
    width: 1560px;
    padding: 3%;
    right: 5.6%;
}

footer i.fab.fa-github  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 60%; 
    color: white;
}

/* ----------------------------------------------------*/


i.fab.fa-accessible-icon  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 55%; 
    color: white;
}   

i.fab.fa-creative-commons  {
    display: block;
    position: absolute;
    font-size: 40px;
    border: 20px; 
    top: 25%;
    left: 50%; 
    color: white;
}

i.fab.fa-css3  {
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 45%; 
    color: white;;
}

i.fab.fa-html5  {
    
    display: block;
    position: absolute;
    font-size: 40px;
    top: 25%;
    left: 40%; 
    color: white;
}


/* ----------------------------------------------------*/



#design-archives {
    position: relative;
    margin-top: 150px;
}


#design-selection {
    display: block;
    height: 430px;
    width: 1620px;
    padding-bottom: 0px;
    padding-top: 0;    
}


/* ----------------------------------------------------*/

/* LIST AFTER ICONS BELLOW */



li {
    text-align: center;
    list-style: none;
    padding: 20px;
    margin-right: 50px;
}


li, ul a {
    text-decoration: none;
    list-style-type: none;
}


/* ----------------------------------------------------*/

    
#design-selection li:first-child {
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    width: 750px;
    position: relative;
    top: -25px;
    margin-top: 20px;
    padding: 25px;
    left: -20px

}

#design-selection li:nth-child(2){
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -92px;
    
}

#design-selection li:nth-child(3) {
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    width: 750px;
    position: relative;
    top: -25px;
    margin-top: 0px;
    padding: 25px;
    left: -20px
}

#design-selection li:nth-child(4){
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -92px;
}


#design-selection li:nth-child(5) {
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    width: 750px;
    position: relative;
    top: -54px;
    margin-top: 20px;
    padding: 25px;
    left: -20px
}


#design-selection li:nth-child(6){
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -121px;
}


#design-selection li:nth-child(7) {
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    width: 750px;
    position: relative;
    top: -79px;
    margin-top: 20px;
    padding: 25px;
    left: -20px
}


#design-selection li:nth-child(8){
    border-bottom: 2px solid rgb(179, 181, 182); 
    width: 100%;
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -146px;
}

li:first-child .designer-name:last-child, li:first-child .designer-name:last-child,li:nth-child(5) .designer-name:last-child,li:nth-child(7) .designer-name:last-child,li:nth-child(2) .designer-name:last-child,li:nth-child(4) .designer-name:last-child,li:nth-child(6) .designer-name:last-child,li:last-child .designer-name:last-child,li:nth-child(3) .designer-name:last-child {
    color: rgb(179, 181, 182); 
}   


/* ----------------------------------------------------*/

.next a {
    color: rgb(179, 181, 182); ;
    text-align: center;
    width: 750px;
    position: relative;
    top: -330px;
    margin-top: 20px;
    padding: 25px;
    left: -415px  
}

.viewall a {
    color: rgb(179, 181, 182); ;
    text-align: center;
    right: -55px;
    float: right;
    width: 755px;
    padding: 25px;
    position: relative;
    top: -410px;
}


#zen-resources {
    position: relative;
    background: url(./img/bamboo.png) rgb(116, 170, 61);  
    width: 100%;
    height: 200px;
    top: -360px;   
}



/* ----------------------------------------------------*/


.view-css a, .zen-faq a, .css-resources a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    padding-left: 0%;
    margin-left: 10%;
    margin-top: -1%;
    color: rgb(47, 90, 47);
}


.zen-faq, .css-resources, .view-css {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    padding-left: 0%;
    margin-left: 10%;
    margin-top: -1%;
   
}

.zen-submit, .zen-translations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    padding-left: 0%;
    margin-left: 63%;
    margin-top: -5%;
    margin-top: -6%;
    
   
}

.zen-submit a, .zen-translations a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    padding-left: 0%;
    margin-left: 24%;
    margin-top: 3%;
   color: rgb(47, 90, 47);
}


/* ----------------------------------------------------*/



